<!DOCTYPE html>
<html lang="en">
<body style="background-color:aliceblue;">

    @{
        ViewData["Title"] = "Personal Background";
    }
    <h2> <font face="Comic sans MS"><u>@ViewData["Title"]</u></font></h2>

    <br />
    <br />

    <font face="Comic sans MS" size="4">
        <p>
            Hello everyone!
            <br />
            My full name is Francisco J. Espinosa-Castillo, in 2011 I moved to Florida from Dominican Republic, land where I was born and raised.
            My curiosity towards computers started back in 7th grade in middle school, where I was asked to create my own E-mail and buy a floppy disk.
            I was amused by the whole send/receive Hotmail's message system, and how I could save "things" into my floppy disk. This curiosity went further
            when my best friend and I had to use Photoshop to create the cover of our yearbook, back in our sophmore year in HS. I started Computer Engineering
            back in 2010 in my homeland, but switched to Comp. Science a few years later here at FIU.
            I am now trying to do my last semester here at FIU, and hopefully enjoy this class!
        </p>
    </font>
    <br />
    <br />

    <h3> <font face="Comic sans MS"><u>Work Experience</u></font></h3>
    <font face="Comic sans MS" size="4">
    <br />
    <br />
        <p>
            2013-Present
        </p></font>
    <font face="Comic sans MS" size="4">
        <p>
            <li>Bureau of Vital Statistics in Broward County, Florida.</li>
        </p></font>


</body>
</html>
