<!DOCTYPE html>
<html lang="en">
<body style="background-color:aliceblue;">

        @{
        ViewData["Title"] = "Contact Information";
        ViewData["Title1"] = "Feel free to even send me a message on all three options at once!";
        }

        <center><h2><u><Strong>@ViewData["Title"]</Strong></u></h2></center>
        <br />
        <br />
        <br />

        <center>
            <font size="4">
                <p>
                    <br />
                    <li><Strong>Phone Number:</Strong> 954-589-8234</li>
                    <br />
                    <br />
                    <li><Strong>FIU E-mail:</Strong> fespi028@fiu.edu</li>
                    <br />
                    <br />
                    <li><Strong>Personal E-mail:</Strong> franc.espinosa6@gmail.com</li>
                    <br />
                    <br />
                    <ul>
                        <a href="https://github.com/francespinosa?tab=repositories">Github</a>
                    </ul>
                </p>
            </font>
        </center>
        <br />
        <br />
        <br />
        <br />
        <br />

        <h3><Strong><i>@ViewData["Title1"]</i></Strong></h3>




</body>
</html>
