<!DOCTYPE html>
<html lang="en">
<body style="background-color:aliceblue;">

    @{
    ViewData["Title"] = "Welcome to my page!";
    }
    <font face="Comic sans MS"><center><h1>Welcome To My Page!</h1></center></font>
    <div>

        <center><img src="~/images/me.jpg" alt="" style="width:260px;height:300px" ;></center>

    </div>

    <font face="Comic sans MS"><center><h3>My name is Francisco Espinosa</h3></center></font>

    <div class="col-md-3">
        <h2>Personal Background</h2>
        <ul>
            <li><a href="https://franciscoespinosa.azurewebsites.net/Home/About">Click here to read more about me.</a></li>
        </ul>
    </div>

    <div class="col-md-3">
        <h2>I have previously worked with: </h2>
        <ul>
            <li>Java</li>
            <li>Python</li>
            <li>HTML</li>
            <li>C#</li>
            <li>ASP.NET</li>
            <li>mongoDB</li>
            <li>Postgresql</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Projects</h2>
        <ul>
            <li><a href="https://github.com/Alex-Angee/SoftwareEngineeringProject"><b>FIU chat</b></a> <br />A website that would connect you to an open chatroom with classmates of the current class you are taking.(Not finished)</li>

            <br />
            <li>This website using ASP.NET, hosted by Azure.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Contact Me</h2>
        <ul>
            <li><a href="https://franciscoespinosa.azurewebsites.net/Home/Contact">Click here for my contact information.</a></li>
        </ul>
    </div>
    </div>
</body>
</html>